.searchBar {
  background-image: url(./searchicon/searchIcon.png);
  position: left;
  padding-left: 30px;
  background-size: 35px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
}

.selectField {
  padding: 2px;
  border-radius: 5px;
}
